In [1]:
#Importing Libraries 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('superheroes_nlp_dataset.csv')
score_cols = df.columns[df.columns.str.contains("_score")]
demo_cols = ['name','teams','creator','gender']
score_cols
powers_cols = df.columns[df.columns.str.contains("has")]
powers_cols
df['combine_score']=df[['intelligence_score','strength_score']].sum(axis=1)
df[['combine_score','intelligence_score','strength_score']]
filtered_column_names = [item for item in score_cols if item != 'overall_score']

filtered_column_names

['intelligence_score',
 'strength_score',
 'speed_score',
 'durability_score',
 'power_score',
 'combat_score']

### `Question 1 Most Powerful Superhero of each creator- based on Overall score , Score of powers,Number of Powers

In [9]:
df['combine_score']=df[filtered_column_names].sum(axis=1)
df['powers'] = df[powers_cols].sum(axis=1)
df_powerful=df[['overall_score']+['powers']+['combine_score']+demo_cols].sort_values(by=['overall_score','powers','combine_score'], ascending=False)

print('Question 1 Most Powerful Superhero of each creator- based on Overall score , Score of powers,Number of Powers ')
df_powerful.groupby('creator').head(1)[['creator','name']].reset_index()

Question 1 Most Powerful Superhero of each creator- based on Overall score , Score of powers,Number of Powers

    index                 creator                        name
0     174               DC Comics                 Black Alice
1    1337           Marvel Comics          True Form Oblivion
2     845            Image Comics             Man Of Miracles
3     450        J. R. R. Tolkien                Eru Iluvatar
4    1289     George R. R. Martin           The Lord Of Light
5     165           Hanna-Barbera                     Birdman
6    1113                    Lego             Ronin (Ninjago)
7      58       Dark Horse Comics                       Angel
8     859               Microsoft                Master Chief
9     598                Shueisha                Hinata HyÅ«ga
10    659              Dreamworks                  Jack Frost
11    362            George Lucas               Darth Nihilus
12    459                 Ubisoft    Ezio Auditore da Firenze
13   1252           Matt Groening                   Superking
14    666             Ian Fleming          James Bond (Craig)
15    359       Universal Studios                     Darkman
16     18            NBC - Heroes                 Adam Monroe
17   1153           Mortal Kombat                   Shao Kahn
18    236                  Hasbro                   Bumblebee
19     41               Wildstorm            Allan Quatermain
20    369                   Namco         Deacons Of The Deep
21   1216               Star Trek                       Spock
22     17  Blizzard Entertainment                       A'dal
23    687             ABC Studios                   JJ Powell
24    801                Nintendo                        Link
25   1209           Sony Pictures  Spider-Man (Raimi Trilogy)
26    158                    SyFy                 Bill Harken
27   1195                    Sega          Sonic The Hedgehog
28   1242          IDW Publishing                Storm Shadow
29    600             Icon Comics                    Hit-Girl
30    663                  Disney                Jack Sparrow
31   1184                  Mattel                    Skeletor
32     97                  Capcom                       Asura
33   1025           J. K. Rowling        Professor Dumbledore
34    923         Cartoon Network                 Morty Smith
35    264              South Park           Captain Hindsight
36    421                  Konami                     Dracula
37   1006            Clive Barker                     Pinhead
38    655            Stephen King                          IT
39    296            Team Epic TV                     Chromos
40    447           HarperCollins                      Energy

### `Question 2 - Find the top 5 superpowers in descending order

In [10]:
def string_to_list(string):
    # Remove square brackets and quotes, split by comma, and strip whitespace
    elements= string.strip('[]').replace('\'', '').split(',')
    return [elem.strip() for elem in elements]

df['superpowers'] = df['superpowers'].apply(lambda x: list(string_to_list(x)))
from collections import Counter


# Flatten the arrays into a single list
flat_list = [item for sublist in df['superpowers'] for item in sublist]

# Count the distinct superpower in the flattened list
distinct_superpower_counts = dict(Counter(flat_list))

sorted_items = sorted(distinct_superpower_counts.items(), key=lambda item: item[1], reverse=True)
n_largest_items = sorted_items[:5]

# Display the '5' largest items with their counts
for item, count in n_largest_items:
    print(f"{item}: {count}")

Agility: 778
Stamina: 737
Super Strength: 731
Durability: 708
Intelligence: 599

### `Question 3 - Which Race has the most immortal Superheros

In [22]:
df_teams= df[['name','teams','creator','has_immortality','alignment','type_race']]

df_immortality = df_teams[df_teams['has_immortality'] > 0.00]
df_immortality.groupby('type_race')['name'].count().sort_values(ascending=False).head(5)

type_race
God / Eternal    36
Human            29
Demon            18
New God          11
Cosmic Entity     8
Name: name, dtype: int64

### `Question 4 - Name the creator having most superheros of type Parademon

In [19]:

creator_counts = df[df['type_race'] == 'Parademon']['creator'].value_counts()

# Find the creator with the most superheroes of type 'Parademon'
creator_with_most_parademon = creator_counts.idxmax()

print("The creator with the most superheroes of type 'Parademon' is:", creator_with_most_parademon)
creator_counts.head(1).reset_index()

The creator with the most superheroes of type 'Parademon' is: DC Comics

       index  creator
0  DC Comics        1

### `Question 5 Which comic creator has the most super hero teams

In [94]:
df_creator = df.groupby('creator')['teams'].count()
#df_creator

def string_to_list(string):
    # Remove square brackets and quotes, split by comma, and strip whitespace
    elements= string.strip('[]').replace('\'', '').split(',')
    #print(elements)
    return [elem.strip() for elem in elements if elem.strip() != '']



def count_distinct_teams_with_names(group):
    group = group.apply(lambda x: list(string_to_list(x)))
    
    flat_list = [item for sublist in group for item in sublist]
    #print(flat_list)
    distinct_teams = pd.Series(flat_list).unique()    

    return (len(distinct_teams))



distinct_teamsbycreator = df.groupby('creator')['teams'].apply(count_distinct_teams_with_names)

df_teams= df.groupby('creator')['teams'].apply(count_distinct_teams_with_names).reset_index()
df_teams.sort_values(by='teams', ascending=False).head(1).reset_index()

   index        creator  teams
0     22  Marvel Comics    165

In [66]:

def string_to_list(string):
    # Remove square brackets and quotes, split by comma, and strip whitespace
    elements= string.strip('[]').replace('\'', '').split(',')
    #print(elements)
    return [elem.strip() for elem in elements if elem.strip() != '']



def count_distinct_teams(group):
    #print(type(group))
    group = group.strip('[]').replace('\'', '').split(',')
    #print(group)
    #flat_list = [item for sublist in group for item in sublist]
    #print(flat_list)
    distinct_teams = pd.Series(group).unique()  
    #print ([elem.strip() for elem in distinct_teams if elem.strip() != ''])
    return (len([elem.strip() for elem in distinct_teams if elem.strip() != '']))

    return (len(distinct_teams))


df.iloc[0]['teams']
#df['teamcounts'] = df['teams'].apply(count_distinct_teams)
#df[['name','teamcounts','teams']]
df['teamcount']= df['teams'].apply(count_distinct_teams)

In [91]:
max_count = df['teamcount'].max()
top_names = df[df['teamcount'] == max_count]



top_names[['name','real_name','aliases','teams','teamcount']].head(1)

,name,real_name,aliases,teams,teamcount
1415,Wolverine,Logan,"['Weapon X, Weapon Ten, Death, Mutate 9601, Ji...","['X-Force', 'X-Men', 'Weapon X', 'Secret Defen...",16

### `Question 8 - Report on the 10 superheros with most relative

In [17]:
import re
df_relatives = df[['name','alignment','relatives']]
df_relatives['relatives']=df_relatives['relatives'].fillna(value='')
df_relatives['alignment']=df_relatives['alignment'].fillna(value='None')

def count_distinct_relatives(group): 
    
    #elements= group.strip('[]').replace('\'', '').replace('\n', ';').replace(')', ';').split(';') 
    
    group = re.sub(r'\(.+?\)',';',group)   
    elements= group.strip('.').replace(',', '')
    elements= re.split(';',elements)  
    distinct_teams = pd.Series(elements).unique()
    return (len([elem.strip() for elem in distinct_teams if elem.strip() != '']))



df_relatives['numberofrelatives'] = df_relatives['relatives'].apply(count_distinct_relatives)
df_relatives.sort_values(by='numberofrelatives', ascending=False).head(10)

,name,alignment,relatives,numberofrelatives
936,Namor,Good,"Elanna (maternal ancestor), Tanas (maternal an...",45
75,Aquaman,Good,"Koryak (son), Arthur Curry, Jr. (son), A.J. (s...",36
574,Havok,Good,Oscar Summers (adoptive paternal distant ances...,30
1100,Robin V,Good,"Talia al Ghul (mother),\nBruce Wayne (Batman, ...",21
340,Cyclops,Good,Oscar Summers (adoptive paternal distant ances...,21
121,Baron Zemo,Bad,"Harbin Zemo (distant ancestor, deceased);\nHad...",19
515,Ghost Rider (King Of Hell),Good,"Illyana Kale (maternal ancestor, deceased); De...",18
1251,Supergirl,Good,"Zor-El (father), Allura In-Ze (mother), Jor-El...",17
637,Infernal Hulk,Bad,"Bruce Banner I (paternal grandfather, presumed...",17
750,King Thanos,Bad,"A'Lars (father, deceased);\nSui-San (mother, d...",16